@page {
  size: A4 portrait;
  margin: 12mm;
}

@media print {
  body {
    margin: 0 !important;
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .pagina-qrcode {
    width: 100% !important;
    max-width: none !important;

    margin: 0 !important;

    border: none !important;
    border-radius: 0 !important;

    box-shadow: none !important;

    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }
}
